<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/styles/bubbles.css">
</head>

<body>
<div id="scorebar">
<span>Score: <span id = "score">0</span></span><br>
<span>Incorrect Attempts: <span id = "wrong">0</span></span>
</div>
<div id="lab">
	<div id="cont"> 
		<span class="bubble"> 
			<span class="glow glow1"> 
			</span> 
		</span> 
		<span class="bubble1"> 
			<span class="glow  glow2"> 
			</span> 
		</span> 
		<span class="bubble2"> 
			<span class="glow  glow3"> 
			</span> 
		</span> 
		<span class="bubble3"> 
			<span class="glow  glow4"> 
			</span> 
		</span> 
		<span class="bubble4"> 
			<span class="glow  glow5"> 
			</span> 
		</span> 
		<span class="bubble5"> 
			<span class="glow  glow6"> 
			</span> 
		</span> 
	</div>
</div>
<a href="/scores" class="btn btn-lg" id="quit" >quit</a>
<a href="/4" class="btn btn-lg" id="msg" >Next Level</a>
<h3 style="text-align:center; color:#e0e0e0;">Burst All the Balloons</h3>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="/scripts/bubbles.js"></script>	
</body>
</html>
