<!DOCTYPE html>
<html>
<head>
	<title>Koolman</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/styles/koolman.css">
<script type="text/javascript" src="/scripts/howler.js"></script>
<script type="text/javascript" src="/scripts/paper-full.js"></script>	

<script type="text/paperscript" canvas="myCanvas">
var score = 0;
G.circles = circles;
G.points = points;	
G.score = score;

</script>

</head>
<body>
<h1>Welcome to 'The Game'</h1>
<div id="strip">
	<span id="score-board">Score: <span id="score" >0</span></span>
	<span id="msg"></span>
	<span id="balls-remaining"></span>
	<a href="/scores" id="quit">QUIT</a>
	<div id="show" class="btn btn-sm btn-success">show balls</div>
</div>  
<canvas id="myCanvas"></canvas>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script type="text/javascript"  src="/scripts/koolman.js"></script>
</body>
</html>



