<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Koolman</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/landing.css">
</head>
<body>
<h1 id="landing-header">Welcome</h1>
<h3 id="tagline">Please enter your name</h3>
<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <form action = "/login" method = "post">
                <div class="form-group inner-addon left-addon">
                <i class="glyphicon glyphicon-user"></i>
                <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                <input class="btn btn-lg btn-primary btn-block" id="login-button" type="submit" value = "Login">
                </div>
            </form>
        	<a class="btn btn-lg btn-primary btn-block" id="anonymous"  href="/1">Play as a Tourist</a>
        	<a href="/highscores" id="view-scores" class="btn btn-lg btn-primary btn-block">High Scores</a>
        	<a href="/fun"  class="btn btn-lg btn-primary btn-block">FUN</a>
        </div>
    </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
</body>
</html>


